.btn {
  background-color: grey;
  border: solid 1px grey;
  border-radius: 3px;
  color: white;
  font-size: 19px;
  padding: 5px 10px;
  min-width: 30px;

  &--red {
    @extend .btn;
    color: red;
  }

  &--green {
    @extend .btn;
    color: green;
  }
}
